.jumbotron {
	background-image: url(../img/cds.jpg);
	background-repeat: no-repeat;
	margin-top: 1em;
	font-size: 20px;
    height: 200px;
}

input.fieldError {
    border-color:red !important;
    box-shadow:0 0 10px red !important;
}

img.thumbnail {
    margin: 0 auto 0 auto;
	width: 160px;
	display: block;
}
