<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
		<title th:text="#{cart.title}">Warenkorb</title>
	</head>
<body>
	<div class="all">
		<header>
			<h1 th:text="#{cart.title}">Warenkorb</h1>
		</header>
		<nav th:include="navigation :: navigation"></nav>

		<div class="content">
			<div th:unless="${cart.empty}">
				<table>
					<caption th:text="#{cart.title}">Warenkorb</caption>
					<thead>
						<tr>
							<th th:text="#{cart.movieTitle}">Titel</th>
							<th th:text="#{cart.count}">Anzahl</th>
							<th th:text="#{cart.price}">Preis</th>
						</tr>
					</thead>
					<tbody th:remove="all-but-first">

						<tr th:each="item : ${cart} ">
							<td th:text="${item.productName}">Last Action Hero</td>
							<td th:text="${item.quantity}">10</td>
							<td th:text="${item.price}">10 Euro</td>
						</tr>
						<tr>
							<td>Last Action Hero</td>
							<td>10</td>
							<td>10 Euro</td>
						</tr>
						<tr>
							<td>Last Action Hero</td>
							<td>10</td>
							<td>10 Euro</td>
						</tr>
						<tr>
							<td>Last Action Hero</td>
							<td>10</td>
							<td>10 Euro</td>
						</tr>

					</tbody>
				</table>
				<p th:text="#{cart.total} + ': ' + ${cart.price}">Summe: 100 Euro</p>
				<div class="salespoint" sec:authorize="hasRole('ROLE_CUSTOMER')">
					<form method="post" action="checkout">
						<input type="submit" th:value="#{cart.buy}" value="Kaufen" />
					</form>
				</div>
			</div>

			<p th:if="${cart.empty}" th:text="#{cart.empty}">Leer</p>
		</div>
	</div>
</body>
</html>