<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
    <head>
    </head>
    <body>
        <section layout:fragment="content">
            <form class="ui form" role="form" th:action="@{/login}" method="post">

                <div class="field">
                    <label th:text="#{login.username}" for="username">Username</label>
                    <input type="text" id="username" name="username" autofocus="autofocus"/> <br/>
                </div>

                <div class="field">
                    <label th:text="#{login.password}" for="password">Password</label>
                    <input type="password" id="password" name="password"/> <br/>
                </div>

                <button type="submit" th:text="#{login.login}" class="ui button">Log in</button>
            </form>
        </section>
    </body>
</html>
