<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
    </head>
    <body>
        <nav th:fragment="navigation">
            <div class="ui menu">
                <a class="item" href="register.html" th:href="@{/register}"
                   sec:authorize="!hasAnyRole('BOSS','CUSTOMER')"
                   th:text="#{nav.register}">Registrierung</a>

                <a class="item" href="orders.html" th:href="@{/orders}" sec:authorize="hasRole('BOSS')"
                   th:text="#{nav.orders}">Bestellungen</a>

                <a class="item" href="stock.html" th:href="@{/stock}" sec:authorize="hasRole('BOSS')"
                   th:text="#{nav.stock}">Lager</a>

                <a class="item" href="customers.html" th:href="@{/customers}" sec:authorize="hasRole('BOSS')"
                   th:text="#{nav.customers}">Kundenliste</a>

                <a class="item" href="catalog.html" th:href="@{/dvds}" th:text="#{nav.dvdCatalog}">DVD Catalog</a>
                <a class="item" href="catalog.html" th:href="@{/blurays}" th:text="#{nav.blurayCatalog}">Blu-ray
                    Catalog</a>
                <a class="item" href="cart.html" th:href="@{/cart}" th:text="${session.cart} == null or ${session.cart.isEmpty()} ? #{nav.cart} : #{nav.cart} + ' (' + ${session.cart.stream().count()} + ')'">Warenkorb</a>

                <div class="right menu">
                    <a class="item" th:href="@{/login}" sec:authorize="!isAuthenticated()" th:text="#{nav.login}">Login</a>
                    <form class="item" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                        <button type="submit" class="ui button" th:text="#{nav.logout}">Logout</button>
                    </form>
                </div>
            </div>
            <br/>
        </nav>
    </body>
</html>
