<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layout :: layout(content=~{:: #content}, title=#{orders.title})}">
    <head>
    </head>
    <body>
        <section id="content">
            <h2 th:text="#{orders.completed}"></h2>
            <table class="ui celled table">
                <thead>
                <tr>
                    <th th:text="#{orders.date}">Datum</th>
                    <th th:text="#{orders.customer}">Kunde</th>
                    <th th:text="#{orders.payed}">Bezahlt</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${ordersCompleted} ">
                    <td th:text="${#temporals.format(order.dateCreated, 'dd.MM.yyyy HH:mm')}"></td>
                    <td th:text="${order.userAccountIdentifier}"></td>
                    <td th:text="${order.total}"></td>
                </tr>
                </tbody>
            </table>
        </section>
    </body>
</html>
