<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>

    <title th:text="#{orders.title}">Bestellungen</title>
</head>
<body>
<div class="ui container">
    <header>
        <h1 th:text="#{orders.title}">Bestellungen</h1>
    </header>
    <nav th:include="navigation :: navigation"></nav>

    <h2 th:text="#{orders.completed}"></h2>
    <table class="ui celled table">
        <thead>
        <tr>
            <th th:text="#{orders.date}">Datum</th>
            <th th:text="#{orders.customer}">Kunde</th>
            <th th:text="#{orders.payed}">Bezahlt</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${ordersCompleted} ">
            <td th:text="${#temporals.format(order.dateCreated, 'dd.MM.yyyy HH:mm')}"></td>
            <td th:text="${order.userAccount.id}"></td>
            <td th:text="${order.totalPrice}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>