<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=#{register.title})}">
    <head>
    </head>
    <body>
        <section layout:fragment="content">
            <form method="post" role="form" class="ui form" id="form" th:action="@{/register}" th:object="${registrationForm}">

                <h3 class="ui dividing header" th:text="#{register.userdata}">Nutzerdaten</h3>

                <div class="ui negative message" th:if="${#fields.hasErrors('*')}">
                    <p>Einige Angaben sind nicht korrekt.</p>
                </div>

                <div class="field">
                    <label for="name">Name</label>
                    <input id="name" name="name" th:field="*{name}" th:errorclass="fieldError" type="text" required="required"/><br/>
                    <div class="ui negative message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                        <p>Der Name darf nicht leer sein.</p>
                    </div>
                </div>

                <div class="field">
                    <label th:text="#{register.password}" for="password">Passwort</label>
                    <input id="password" name="password" th:field="*{password}" th:errorclass="fieldError" type="password"
                           required="required"/><br/>
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Das Passwort darf
                        nicht leer sein.</p>
                </div>
                <div class="field">
                    <label th:text="#{register.address}" for="address">Straße</label>
                    <input id="address" name="address" th:field="*{address}" th:errorclass="fieldError" type="text"
                           required="required"/><br/>
                    <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Die Adresse darf
                        nicht leer sein.</p>
                </div>

                <button type="submit" class="ui button" th:text="#{register.submit}">Registrieren</button>
            </form>
        </section>
    </body>
</html>
